<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.yjy.springmybatistest.mapper.SysPrivilegeMapper">

    <resultMap id="SysRoleResultMap" type="com.yjy.springmybatistest.entity.SysPrivilege">
        <id property="id" column="id" />
    </resultMap>

</mapper>